/* CSS Document */
body{font-family:Source Code Pro,"微软雅黑";margin:0;padding:0;background-color: #cce8cf;}
.tips{background-color:#FFDF38;line-height: 2;padding: 5px;}
.log{background-color:#FFDF38;line-height: 2.5;font-size: smaller;display: table;padding: 5px;color:#4D4D4D;max-width: 470px;}
.log span{color:#fff;background-color:#4D4D4D;cursor: pointer;}
.type{border-radius: 4px;padding: 4px;color: white;cursor: pointer; margin-left: 6px;background-color: #4d4d4d;}
.tips-type{ background-color:#fff;}
.clear{clear:both;}
.line{width: 200px;float: left;margin-top: 20px;line-height: 2.5;font-size: smaller;padding:10px;}
.even{ background-color:#B6DEBA;}
a{color:#000;text-decoration: none;}
a:hover{color:red;}
.odd-line img,.even-line img{cursor: pointer;width: 1em;margin-right: 8px;}
.desc{padding:20px;line-height: 2;}
.s1{background-color:#c73d3d;}
.s2{background-color:#f3d79c;}
.s3{background-color:#e9b74b;}
.s4{background-color:#3070b7;}
.s5{background-color:#8db0d7;}
.s6{background-color:#6f427b;}
.s7{background-color:#509F25;}
.s8{background-color:#3CC5AA;}