/* CSS Document */
body{font-family:Source Code Pro,"微软雅黑";margin:0;padding:0;background-color: #cce8cf;}
.tips{background-color:#FFDF38;line-height: 2;padding: 5px;}
.log{background-color:#FFDF38;line-height: 2.5;font-size: smaller;display: table;padding: 5px;color:#4D4D4D;max-width: 470px;}
.log span{color:#fff;background-color:#4D4D4D;cursor: pointer;}
.type{border-radius: 4px;padding: 4px;color: white;cursor: pointer; margin-left: 6px;background-color: #4d4d4d;}
.tips-type{ background-color:#fff;}
.clear{clear:both;}
.line{width: 200px;float: left;margin-top: 20px;line-height: 2.5;font-size: smaller;padding:10px;}
.even{ background-color:#B6DEBA;}
a{color:#000;text-decoration: none;}
a:hover{color:red;}
.odd-line img,.even-line img{cursor: pointer;width: 1em;margin-right: 8px;}
.desc{padding:20px;line-height: 2;}
.s1{background-color:#c73d3d;}
.s2{background-color:#f3d79c;}
.s3{background-color:#e9b74b;}
.s4{background-color:#3070b7;}
.s5{background-color:#8db0d7;}
.s6{background-color:#6f427b;}
.s7{background-color:#509F25;}
.s8{
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=green,endcolorstr=blue,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=green,endcolorstr=blue,gradientType=0);/*IE8*/	
    background:red; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, green, rgba(0, 0, 255, 0.5));  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(green), to(rgba(0, 0, 255, 0.5)));  
    background:-o-linear-gradient(top, green, rgba(0, 0, 255, 0.5)); 
}