*{margin:0;padding:0;}
	#content{margin:20px auto; width: 100%;text-align: center;}
	#cover{background: rgba(0,0,0,0.5); position: absolute;z-index: 999; width: 100%; top:0;display: none;}
	#lgpic{
	margin: auto;  
	position: absolute;  
	top: 0;
	left: 0;
	bottom: 0; 
	right: 0;	
	/*以下为层样式*/
	background-color:#fff;
	padding: 8px 8px 20px 8px;
		
	}
	#close{z-index: 9999;cursor: pointer;}
	.thumbnail{cursor:pointer;background-color:#fff;
		padding: 5px;}