@charset "utf-8";
/* CSS Document
Copyright By Sunplace,2017*/
body{margin:0;color:#fff;background-color: #CCC;font-family:Source Code Pro,"微软雅黑";}
/*菜单提示*/
span{color:#fff;background-color:#585858;margin-right: 10px;}
/*End of 菜单提示*/
header{
	margin:0 auto;
	max-width: 1024px;
	width: 100%;
	height: 150px;
	background-color: cadetblue;
}
header h1{margin: 0;padding: 20px;}
#wrapper{height:500px;padding: 20px;background-color: #6CCB83;margin:0 auto;line-height: 1.5;
	max-width: 984px;
	}
footer{padding:20px;background-color: cadetblue;margin:0 auto;
	max-width: 984px;}
/*导航栏*/
nav{width:100%;}
nav ul{padding:0;margin:0 auto;max-width: 1024px;width: 100%;}
nav li{background-color: burlywood;float: left;list-style-type: none;cursor: pointer;width:25%;height: 40px;line-height: 40px; text-align: center;}
nav li a{display:block;height:100%;color:#fff;text-decoration: none;}
nav li a:hover{color:#000;}
nav li:hover{background-color: blanchedalmond;}
nav ul .menu{display:none;text-align: right;}
#menu{background: url(../../imgs/22/menu.svg) no-repeat;height: 28px;width: 28px;display:inline-block;background-size:cover;margin-right:10px;vertical-align: middle;}
@media screen and (max-width:600px)
{
	nav li{float:none;width: 100%;display: none;}
	nav ul .menu{display:block;cursor: auto;}
	nav ul .menu:hover{background-color:burlywood;}
}
/*End of 导航栏*/
.log{background-color:#FFDF38;line-height: 2.5;font-size: smaller;display: table;padding: 5px;color:#4D4D4D;}
.log span{color:#fff;background-color:#4D4D4D;cursor: pointer;}