/*
  Copyright By Sunplace
*/
#wrap{
		position: relative;
		width: 90%;
		margin: 50px auto;	
		line-height: 2;
	}
	#line{
		background:#39AC3C;
		width: 3px;
		position: absolute;
		top: 0.5em;
		z-index: -99;
		height: 500px;
	}
	#vertical-line span{
		width:14px;
		height: 14px;
		display: table-cell;
		background:#CCE8CF;
		border: solid #39AC3C 1px;
		float: left;
		border-radius: 14px;
		cursor: pointer;
        margin: 0.5em 0 0.5em 0;

	}
	.line-left{
		display: inline-block;
		width: 10%;
		float: left;
		text-align: right;
		padding-right: 1em;
		
	}
	.line-right{
		display: inline-block;
		float: left;
		padding-left: 1em;	
		margin-bottom: 3em;

	}
	#horizontal-line{
		height: 300px;		
		position: relative;
		margin-top: 200px;
		width: 1600px;/*为了防止float层错位*/
	}
	
	#line-h{
		background:#39AC3C;
		width: 1440px;
		position: absolute;
		z-index: 99;
		height: 3px;
		top: 100px;
	}
		#horizontal-line span{
		width:14px;
		height: 14px;
		display:inline-block;
		background:#CCE8CF;
		border: solid #39AC3C 1px;
		border-radius: 14px;
		cursor: pointer;
        position: absolute;
		left: 50%;
		z-index: 999;
	}
#wrap-h{
	width: 100%;
	}
	