ol,li{margin:0;padding: 0;}
p{line-height: 2;}
.codeblock{
	position: relative;
	border: #D3D3D3 solid 1px;
	/*自动换行*/
	white-space: pre-wrap;
    word-wrap: break-word;
	/*End of 自动换行*/
	background:#f3f3f3; 
	font-family:Source Code Pro,"微软雅黑";
	margin:20px 0px 20px 0px;font-size: smaller;
	}
.linenum{
	background: #e3e3e3;
	display:inline-block;
	position: absolute;
	top:0;
	left:0;
	color:#A7A7A7;width: 0;	
	}
.codemark{background:#838383;color: #fff;}	
